.feed-page {


  margin: 30px auto 0;
  max-width: 1200px;
  overflow-x: hidden;


  nav {
    width: 99%;
    height: 80px;

    @media screen and(max-width: 1251px) {
      padding: 0px;
    }

    @media screen and(max-width: 550px) {
      grid-template-columns: 1fr;
    }

    .nav-container {


      border-bottom: 3px solid $colorprimaire;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 40% 60%;
      grid-template-rows: 100%;
      height: 100%;
      width: 100%;
      align-items: center;
      box-shadow: 2px 3px 14px 1px $colortertiaire;
      background-color: $colorsecondaire;
      border-radius: 2px 12px 12px 12px;
      margin-left: 2px;

      .logo {
        width: 78%;
        height: 100%;
        padding: 6px;

      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;

      }

      ul {
        display: grid;
        grid-template-columns: 50% 40%;
        grid-template-rows: 100%;
        align-items: center;
        margin-left: 10px;
        list-style-type: none;
        padding: 0px;
        width: 91%;

        .welcome {
          display: inline-flex;

          h1 {
            font-size: 110%;
          }
        }

        @media screen and(max-width: 550px) {
          grid-template-columns: 1fr;
        }

        .logout {
          font-size: x-small;
          text-align: center;
          cursor: pointer;
        }

      }
    }
  }

  main {
    border: 0px solid $colorsecondaire;
    border-radius: 12px;
    padding: 10px;
    margin: 50px 5px 5px 5px;
    box-shadow: 0px 2px 6px 3px $colorsecondaire;
  }

  .post-form {
    width: 80%;

    .pseudo-poster {
      color: $colorprimaire;
    }

    #message {
      width: 90%;
      height: 50px;
      border-radius: 8px;
      border: 2px double $colorprimaire;
      margin-left: 25px;
    }

    .footer-form {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: space-evenly;

      #file-upload {
        color: $colortertiaire;

      }

      span {
        color: $colorsecondaire;
        background-color: $colortertiaire;
        box-shadow: 0px 0px 3px 0px $colortertiaire;
        padding: 3px;
      }
    }

    .cancel,
    .send {
      background-color: $colorsecondaire;
      border-radius: 7px;
      border: 1px solid $colorsecondaire;
      padding: 7px;
      margin: 7px 15px 8px 28px;
      box-shadow: 0px 0px 1px 2px $colorsecondaire;
    }

    .cancel {
      color: $colorprimaire;
    }
  }

  .fil-actualite {

    border: 0px solid $colortertiaire ;
    background-image: url('../../assets/icon-log.png');
    background-repeat: round;
    background-position: center;
    background-attachment: fixed;
    margin: 50px 5px 5px 5px;

    .thread-container {
      display: flex;
      flex-direction: column-reverse;
    }

    .card-post {
      border: 1px solid $colorprimaire;
      margin: 40px 20px 0px 15px;
      border-radius: 5px;
      padding: 20px;
      background-color: white;
      text-align: center;
      box-shadow: 0px 4px 9px 2px $colortertiaire;

      .pseudo {
        text-align: initial;
        color: $colorprimaire;
        font-weight: bolder;
      }

      .container-contenu {
        border: 2px solid $colortertiaire;
        border-radius: 0px 15px 15px 40px;
        margin: 10px 40px;
        padding: 10px 20px;
      }

      .message-post {
        margin: 10px 30px 30px 40px;
        text-align: initial;
        font-size: large;
      }

      .photo-post-video {
        display: none;
      }

      img {
        border: 2px solid $colortertiaire;
        border-radius: 10px;
        width: 73%;
        height: auto;
        object-fit: cover;
      }



      iframe {
        width: 80%;
        height: 230px;
      }
      span {
          font-size: x-small;
          display: flex;
          justify-content: flex-end;
          margin-right: 48px;
      }
      .container-settings {
        display: flex;
        flex-direction: row;
        align-items: flex-end;


       
        .btn-modif {
          background-color: $colorsecondaire;
          border-radius: 5px;
          margin-top: 5px;
          padding: 5px;
        }

        .btn {
          border-radius: 5px;
          background-color: $colorsecondaire;

        }

        .btn-delete {
          border-radius: 5px;
          color: $colorprimaire;
          background-color: $colorsecondaire;
          padding: 5px;
        }
      }

      .fa-solid {
        color: $colorprimaire;
      }


    }
  }

}