@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

$colorprimaire: #FD2D01;
$colorsecondaire: #FFD7D7;
$colortertiaire: #4E5166;


#root {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}